/* BRANDED VARIABLES */
:root {
  --vt-maroon: #a52651;
  --vt-hokieStone-1s: #696c6f;
  --vt-hokieStone-5s: #333333;
  --font-family-sans-serif: Acherus, sans-serif;
  --font-family-body: gineso-condensed, sans-serif;
}
/* BODY STYLING */
body {
  background-color: var(--vt-hokieStone-5s);
  font-family: var(--font-family-body);
  letter-spacing: 1px;
  color: #fff;
}
/*FORM STYLING*/
.form-title {
  line-height: 1.6;
  font-family: var(--font-family-sans-serif);
}
/*CUSTOM INPUT RADIOS*/
.custom-radios input[type='radio'] {
  display: none;
}
.custom-radios input[type='radio']:checked ~ label {
  background-color: var(--vt-hokieStone-1s);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: inset -7px 16px 9px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -7px 16px 9px -5px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}
.custom-radios label {
  cursor: pointer;
  height: 50px;
  background-color: #fff;
  color: var(--vt-maroon);
  display: inline-block;
  border: 1px solid var(--vt-maroon);
  font-weight: 600;
  position: relative;
}
.custom-radios.money label {
  width: 180px;
}
.custom-radios.freq label {
  width: 270px;
}
.custom-radios label span {
  position: absolute;
  top: 10px;
  left: 30px;
}
.custom-radios.money label span {
  position: absolute;
  top: 10px;
  left: 43px;
}
.form-control-input {
  border-radius: 0;
  height: 50px;
  min-width: 540px;
}
/*CUSTOM SUBMIT BUTTON*/
.sign-up-btn {
  display: block;
  min-width: 540px;
  max-width: 100%;
  height: 50px;
  background-color: var(--vt-maroon);
  color: #fff;
  font-weight: 600;
  border: 1px transparent;
  cursor: pointer;
  box-shadow: 0px 0px 14px -5px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 0px 14px -5px rgba(255, 255, 255, 0.5);
}
@media (min-width: 992px) {
  .custom-radios.money label {
    width: 120px;
  }
  .custom-radios.freq label {
    width: 130px;
  }
}
