/* BRANDED VARIABLES */
:root {
  --vt-maroon: #a52651;
  --vt-hokieStone-1s: #696c6f;
  --vt-hokieStone-5s: #333333;
  --font-family-sans-serif: Acherus, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
/* BODY STYLING */
body {
  background-color: var(--vt-hokieStone-5s);
  font-family: var(--font-family-sans-serif);
  color: #fff;
}
/*FORM STYLING*/
.form-title {
  line-height: 1.6;
}
.theme-button-1 {
  background-color: var(--vt-maroon);
  color: #fff;
}
/*CUSTOM INPUT RADIOS*/
.custom-radios input[type='radio'] {
  display: none;
}
.custom-radios input[type='radio']:checked ~ label {
  background-color: var(--vt-hokieStone-1s);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: inset -7px 16px 9px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -7px 16px 9px -5px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}
.custom-radios label {
  cursor: pointer;
  height: 50px;
  background-color: #fff;
  color: var(--vt-maroon);
  width: 100px;
  border: 1px solid var(--vt-maroon);
  font-weight: 600;
  position: relative;
}
.custom-radios label span {
  position: absolute;
  top: 12px;
  left: 30px;
}
